<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include ('partials/header.ejs') %>
    <%- include ('partials/nav.ejs') %>
    <main>
      <form action="/foods/add" method="POST" class="form-holder">
        <section class="card">
          <h2>Food Details</h2>
          <label for="title" class="text-sm">Title</label>
          <input name="title" type="text" id="title" required>
          <label for="category" class="text-sm">Category</label>
          <select name="categoryId" id="category" required>
            <% locals.categories.forEach((category) => { %>
              <option value=<%= category.id %>><%= category.title %></option>
            <% }) %>
          </select>
          <label for="description" class="text-sm">Description</label>
          <textarea name="description" id="description" required></textarea>
        </section>
        <section class="form-button-holder">
          <button>Cancel</button>
          <button type="submit">Submit</button>
        </section>
      </form>
    </main>
  </body>
</html>
