<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <script src="/js/deleteModal.js" defer></script>
    <title>Foods of Taiwan</title>
  </head>
  <body>
    <div>
      <%- include ('partials/nav.ejs') %>
      <%- include ('partials/deleteModal.ejs') %>
      <main>
        <section class="hero">
          <div class="img-wrapper">
            <img src="/assets/fine-dining.jpg" alt="Shi Lin night market">
          </div>
        </section>
        <section class="add-button-holder">
          <button class="add-button primary-button">
            <a class="text-sm" href="/foods/add">Add New Food</a>
          </button>
        </section>
        <h2>Categories</h2>
        <section class="card-holder">
          <% locals.categories.forEach((category) => { %>
            <div class="card" data-id=<%= category.id %>>
              <div>
                <h3 class="text-sm-plus"><%= category.title %></h3>
                <p><%= category.description %></p>
              </div>
              <div class="button-holder">
                <% if (!category.default) { %>
                  <button class="primary-button"><a href="/categories/<%= category.id %>/edit">Edit</a></button>
                  <button class="secondary-button bold" onClick="openDeleteModal('/categories/<%= category.id %>/delete','<%= category.title %>')">Delete</button>
                <% } else { %>
                  <h5>Default</h5>
                <% } %>
              </div>
            </div>
          <% }); %>
        </section>
      </main>
    </div>
    <%- include ('partials/footer.ejs') %>
  </body>
</html>
