<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <script src="/js/deleteModal.js" defer></script>
    <title>Foods of Taiwan</title>
  </head>
  <body>
    <%- include ('partials/nav.ejs') %>
    <%- include ('partials/deleteModal.ejs') %>
    <main>
      <section class="hero">
        <div class="img-wrapper">
          <img src="/assets/restaurant.jpg" alt="Shi Lin night market">
        </div>
      </section>
      <section class="add-button-holder">
        <button class="add-button primary-button">
          <a class="text-sm" href="/foods/add">Add New Food</a>
        </button>
      </section>
      <h2>Foods</h2>
      <section class="card-holder">
        <% locals.foods.forEach((food) => { %>
          <div class="card" data-id=<%= food.id %>>
            <div>
              <h3 class="text-sm-plus"><%= food.title %></h3>
              <h4 class="light-gray"><%= food.category %></h4>
              <p><%= food.description %></p>
            </div>
            <div class="button-holder">
              <% if (!food.default) { %>
                <button class="primary-button"><a href="/foods/<%= food.id %>/edit">Edit</a></button>
                <button class="secondary-button bold delete" onClick="openDeleteModal('/foods/<%= food.id %>/delete','<%= food.title %>')" data-id=<%= food.id %>>Delete</button>
              <% } else { %>
                <h5>Default</h5>
              <% } %>
            </div>
          </div>
        <% }); %>
      </section>
    </main>
  </body>
</html>
